<f:layout name="default" />
<f:section name="body">
    <div id="content_wrapper" class="centered" role="main">
        <div class="container-fluid ">
            <div class="row">
                <aside id="sidebar" class="col-md-4">
                    <f:format.raw>{sidebar}</f:format.raw>
                </aside>
                <section id="main_content" class="col-md-8">
                    <f:format.raw>{main_content}</f:format.raw>
                </section>
            </div>
        </div>
    </div>
</f:section>