<f:layout name="default" />
<f:section name="body">
    <div id="accordion_wrapper" class="container-fluid centered">
        <f:format.raw>{custom_content}</f:format.raw>
    </div>
    <div id="content_wrapper" class="container-fluid centered" role="main">
        <div class="row">
            <section id="main_content" class="col-md-6">
                <f:format.raw>{main_content}</f:format.raw>
            </section>
            <aside id="sidebar" class="col-md-6">
                <f:format.raw>{news}</f:format.raw>
            </aside>
        </div>
    </div>
</f:section>