<div id="wrapper" class="clearfix">
    <header id="headerWrapper" class="clearfix">
        <h1 id="logo"><a href="/" title="<f:format.raw>{sitename}</f:format.raw>"><f:format.raw>{sitename}</f:format.raw></a></h1>
        <nav id="navMain">
            <ul class="clearfix">
                <f:cObject typoscriptObjectPath="lib.mainNavigation">
                </f:cObject>
            </ul>
        </nav>
    </header>
    <f:format.raw>{headerImage}</f:format.raw>
    <f:render section="body" />
</div>
<f:render partial="footer" arguments="{_all}" />