<div id="wrapper" class="clearfix">
    <header id="header_wrapper" class="container-fluid">
        <div class="row">
            <a href="/" title="<f:format.raw>{sitename}</f:format.raw>"><f:format.raw>{sitename}</f:format.raw></a>
            <nav id="nav_main">
                <span class="responsive_toggle fa fa-bars"></span>
                <ul class="clearfix">
                    <f:cObject typoscriptObjectPath="lib.mainNavigation"></f:cObject>
                </ul>
            </nav>    
        </div>
    </header>
    <f:render section="body" />
</div>
<f:render partial="footer" arguments="{_all}" />